/* Django message divs */
div.alert.success {
    background-color: #EDF8E9;
    border-style: solid;
    border-color: #4DAF26;
    border-width: thin thin thin thick;
    color: #4DAF26;
}

div.alert.error {
    background-color: #FCEBEB;
    border-style: solid;
    border-color: #C82828;
    border-width: thin thin thin thick;
    color: #C82828;
}

/* Fix to stop Bootstrap mangling the google map controls */
.easy-map-googlemap img {
    max-width: inherit;
}

/* Add some spacing to the bottom of the .container div */
#main {
    padding-bottom: 50px;
}

/* Fixing image size for the profile thumbnail gallery */
img.thumbnail-image {
    min-height: 150px;
    max-height: 150px;
    max-width: 210px;
}

/* Styling for the buttons in image gallery */
div.btn-ctrl {
    max-width: 210px;
    display: block;
    text-align: center;
}

a.btn.btn-thumb {
    margin: 5px 0px;
}

/* Curved border and drop shadow for images */
img.image-shadow {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

p.home-page {
    margin: 20px 0px;
}