{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load easy_maps_tags %}
{% load staticfiles %}

{% block title %}Profile{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h1>{% block header %}{{ user.username }}'s Profile{% endblock %}</h1>
    </div>
    <div class="span12">
        <a data-toggle="collapse" data-target="#map-section" class="btn btn-info btn-large">Toggle Map</a>
        <a class="btn btn-primary btn-large" href="{% url 'upload_picture' %}">Upload a Picture!</a>
    </div>
    <div id="map-section" class="span12 collapse out">
        <div class="page-header">
            <h3>Map View</h3>
        </div>
        {% easy_map None 940 600 3 using 'user_markers.html' %}
    </div>
    <div class="span12">
        <div class="page-header">
            <h3>Your Pictures</h3>
        </div>
    </div>
    <div class="span12">
        <ul class="thumbnails">
            {% for picture in picture_list %}
            <div id="lightbox_{{ picture.pk }}" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
                <div class='lightbox-content'>
                    <img src="{{ picture.image.url }}">
                    <div class="lightbox-caption">
                        <h4>{{ picture.title }}</h4>
                        <p>{{ picture.description }}</p>
                    </div>
                </div>
            </div>
            <li>
                <a data-toggle="lightbox" href="#lightbox_{{ picture.pk }}">
                    <div class="thumbnail">
                        <img class="thumbnail-image" src="{{ picture.image.url }}" alt="">
                        <div class="btn-ctrl">
                            <a class="btn btn-thumb btn-primary" href="{% url 'edit_picture' picture.pk %}">Edit</a>
                            <a class="btn btn-thumb btn-danger" onclick="deleteModel('{% url 'delete_picture' picture.pk %}')">Delete</a>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}