{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load easy_maps_tags %}

{% block title %}Profile{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h1>{% block header %}{{ user.username }}'s Profile{% endblock %}</h1>
    </div>
    <div class="span12">
        <div class="page-header">
            <h3>Your Pictures</h3>
        </div>
    </div>
    <div class="span12">
        <ul class="thumbnails">
            {% for picture in picture_list %}
            <li>
                <a href="#">
                    <div class="thumbnail">
                        <img class="thumbnail-image" src="{{ picture.image.url }}" alt="">
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary btn-large" href="{% url 'picture_form' %}">Upload a Picture!</a>
    </div>
    <div class="span12">
        <div class="page-header">
            <h3>Map View</h3>
        </div>
    </div>
    <div class="span12">
        {% easy_map None 940 600 3 using 'picture_app/user_markers.html' %}
    </div>
</div>
{% endblock %}